{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}

<div>
    <form action="city" method="post">
        {% csrf_token%}
        <input type="text" placeholder="Add City" required name="cityname">
    <input type="submit" value="Add City">

    </form>
</div>


<div>
    <h3>{{user.username}} is loged in</h3>
</div>

{% for data in datas%}

<p><img src="https://openweathermap.org/img/w/{{data.icon}}.png" > <br>city: {{data.city}}<br>temperature: <strong>{{data.temperature}}</strong><br>description: {{data.description}}</p> 

{%endfor%}


{%else%}
<div>
    <p>login first click <a href="login">here</a> to login.</p>
</div>
{%endif%}

{% endblock %}